# **Northwind Database:**

The Northwind database is a sample database that was originally created by Microsoft and used as the basis for their tutorials in a variety of database products for decades. The Northwind database contains the sales data for a fictitious company called “Northwind Traders,” which imports and exports specialty foods from around the world. The Northwind database is an excellent tutorial schema for a small-business ERP, with customers, orders, inventory, purchasing, suppliers, shipping, employees, and single-entry accounting. The Northwind database has since been ported to a variety of non-Microsoft databases, including PostgreSQL.
<br>
The Northwind dataset includes sample data for the following.

- Suppliers: Suppliers and vendors of Northwind
- Customers: Customers who buy products from Northwind
- Employees: Employee details of Northwind traders
- Products: Product information
- Shippers: The details of the shippers who ship the products from the traders to the end-customers
- Orders and Order_Details: Sales Order transactions taking place between the customers & the company

<br>

The Northwind sample database includes 14 tables and the table relationships are showcased in the following entity relationship diagram.

## **Northwind ER Diagram:**

<br>
 <img src="imgs/Northwind_ERD.png" width="900" height="1300">
<br>

# **craete database and insert data**

In [ ]:
# Install postgresql server
!sudo apt-get -y -qq update
!sudo apt-get -y -qq install postgresql
!sudo service postgresql start

# Setup a password `postgres` for username `postgres`
!sudo -u postgres psql -U postgres -c "ALTER USER postgres PASSWORD 'admin';"

# Setup a database with name `northwind` to be used
!sudo -u postgres psql -U postgres -c 'DROP DATABASE IF EXISTS northwind;'
!sudo -u postgres psql -U postgres -c 'CREATE DATABASE northwind;'

In [ ]:
!sudo -u postgres psql -h localhost -U postgres -d northwind -a -f /content/northwind.sql
!sudo -u postgres psql -h localhost -U postgres -d northwind -a -f /content/northwind_data.sql

# **Use SQL commands in Jupyter Notebook:**

- In order to install the extension you should type the following command in Terminal or cmd:

```shell
    python3 -m pip install ipython-sql
```

## **Using SQLAlchemy:**
- It's an ORM (object-oriented-mapper)

- After that there is a package named "sqlalchemy" that allows you to work with SQL in python.

- SQLAlchemy: SQLAlchemy is the Python SQL toolkit and Object Relational Mapper that gives application developers the full power and flexibility of SQL.
<br>
- And now in order to install that you should type the following command in shell:

```shell
    pip3 install SQLAlchemy
```

- And also you can install it using conda:
```shell
    conda create -n sql python
    conda activate sql
    conda install ipython-sql sqlalchemy psycopg2 notebook pandas -c conda-forge
```

## **<font color='Green'>Sample HandsOn Questions:</font>**

**In couple lines below we will show some sample SQL queries in order to answer the given questions.**

<br>

<font color='blue'>**First of all we have to connect to the Database we have:**</font>

In [ ]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in /usr/local/lib/python3.7/dist-packages (0.3.9)
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (5.5.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (1.4.26)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (2.4.0)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (57.4.0)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (2.6.1)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (1.0.18)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (0.8.1)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=0.6.7->ipython-sql) (4.8.1)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy>=0.6.7->ipython-sql) (3.6.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy>=0.6.7->ipython-sql) (3.10.0.2)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect->ipython>=1.0->ipython-sql) (0.7.0)

In [ ]:
%load_ext sql

host = 'localhost'
user = 'postgres'
password = 'admin'
database = 'northwind'

connection_string = f'postgresql://{user}:{password}@{host}/{database}'

%sql $connection_string

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

'Connected: postgres@northwind'

### **<font color='darkblue'>Sample Question1:</font>**
Q1: Write a query to get Product name and quantity/unit. (Limit the results)

In [ ]:
%%sql

select product_name, quantity_per_unit from products limit 10;

 * postgresql://postgres:***@localhost/northwind
10 rows affected.

[('Chai', '10 boxes x 30 bags'),
 ('Chang', '24 - 12 oz bottles'),
 ('Aniseed Syrup', '12 - 550 ml bottles'),
 ("Chef Anton's Cajun Seasoning", '48 - 6 oz jars'),
 ("Chef Anton's Gumbo Mix", '36 boxes'),
 ("Grandma's Boysenberry Spread", '12 - 8 oz jars'),
 ("Uncle Bob's Organic Dried Pears", '12 - 1 lb pkgs.'),
 ('Northwoods Cranberry Sauce', '12 - 12 oz jars'),
 ('Mishi Kobe Niku', '18 - 500 g pkgs.'),
 ('Ikura', '12 - 200 ml jars')]

### **<font color='darkblue'>Sample Question2:</font>**
Q2: Write a query to get current Product list (Product ID and name). (Limit the results)

In [ ]:
%%sql
select product_id, product_name from products where discontinued = 0
order by product_name
limit 10;

 * postgresql://postgres:***@localhost/northwind
10 rows affected.

[(3, 'Aniseed Syrup'),
 (40, 'Boston Crab Meat'),
 (60, 'Camembert Pierrot'),
 (18, 'Carnarvon Tigers'),
 (39, 'Chartreuse verte'),
 (4, "Chef Anton's Cajun Seasoning"),
 (48, 'Chocolade'),
 (38, 'Côte de Blaye'),
 (58, 'Escargots de Bourgogne'),
 (52, 'Filo Mix')]

### **<font color='darkblue'>Sample Question3:</font>**
Q3: Write a query to get discontinued Product list (Product ID and name). (Limit the results)

In [ ]:
%%sql
select product_id, product_name from products where discontinued = 1
order by product_name
limit 10;

 * postgresql://postgres:***@localhost/northwind
10 rows affected.

[(17, 'Alice Mutton'),
 (1, 'Chai'),
 (2, 'Chang'),
 (5, "Chef Anton's Gumbo Mix"),
 (24, 'Guaraná Fantástica'),
 (9, 'Mishi Kobe Niku'),
 (53, 'Perth Pasties'),
 (28, 'Rössle Sauerkraut'),
 (42, 'Singaporean Hokkien Fried Mee'),
 (29, 'Thüringer Rostbratwurst')]

### **<font color='darkblue'>Sample Question4:</font>**
Q4: Write a query to get most expense and least expensive Product list (name and unit price)

only most expensive and least expensive product.

In [ ]:
%%sql
select product_name, unit_price
from (
  select row_number() over (order by unit_price DESC) as rn, product_name,
    unit_price, count(*) over () as total_count
  from products
) as ranked_products
where ranked_products.rn = 1 or ranked_products.rn = ranked_products.total_count
order by ranked_products.unit_price DESC;

 * postgresql://postgres:***@localhost/northwind
2 rows affected.

[('Côte de Blaye', 263.5), ('Geitost', 2.5)]

sort product from most expensive to least expensive

In [ ]:
%%sql
select product_name, unit_price
from products
order by unit_price DESC;

 * postgresql://postgres:***@localhost/northwind
77 rows affected.

[('Côte de Blaye', 263.5),
 ('Thüringer Rostbratwurst', 123.79),
 ('Mishi Kobe Niku', 97.0),
 ("Sir Rodney's Marmalade", 81.0),
 ('Carnarvon Tigers', 62.5),
 ('Raclette Courdavault', 55.0),
 ('Manjimup Dried Apples', 53.0),
 ('Tarte au sucre', 49.3),
 ('Ipoh Coffee', 46.0),
 ('Rössle Sauerkraut', 45.6),
 ('Schoggi Schokolade', 43.9),
 ('Vegie-spread', 43.9),
 ('Northwoods Cranberry Sauce', 40.0),
 ('Alice Mutton', 39.0),
 ('Gnocchi di nonna Alice', 38.0),
 ('Queso Manchego La Pastora', 38.0),
 ('Gudbrandsdalsost', 36.0),
 ('Mozzarella di Giovanni', 34.8),
 ('Camembert Pierrot', 34.0),
 ('Wimmers gute Semmelknödel', 33.25),
 ('Perth Pasties', 32.8),
 ('Mascarpone Fabioli', 32.0),
 ('Gumbär Gummibärchen', 31.23),
 ('Ikura', 31.0),
 ("Uncle Bob's Organic Dried Pears", 30.0),
 ("Sirop d'érable", 28.5),
 ('Gravad lax', 26.0),
 ('Nord-Ost Matjeshering', 25.89),
 ("Grandma's Boysenberry Spread", 25.0),
 ('Pâté chinois', 24.0),
 ('Tofu', 23.25),
 ("Chef Anton's Cajun Seasoning", 22.0),
 ('Flotemysost', 21.5),
 ("Chef Anton's Gumbo Mix", 21.35),
 ('Louisiana Fiery Hot Pepper Sauce', 21.05),
 ('Queso Cabrales', 21.0),
 ("Gustaf's Knäckebröd", 21.0),
 ('Maxilaku', 20.0),
 ('Ravioli Angelo', 19.5),
 ('Gula Malacca', 19.45),
 ('Inlagd Sill', 19.0),
 ('Chang', 19.0),
 ('Boston Crab Meat', 18.4),
 ('Chai', 18.0),
 ('Steeleye Stout', 18.0),
 ('Chartreuse verte', 18.0),
 ('Lakkalikööri', 18.0),
 ('Pavlova', 17.45),
 ('Louisiana Hot Spiced Okra', 17.0),
 ('Valkoinen suklaa', 16.25),
 ('Outback Lager', 15.0),
 ('Röd Kaviar', 15.0),
 ('Sasquatch Ale', 14.0),
 ('Singaporean Hokkien Fried Mee', 14.0),
 ('NuNuCa Nuß-Nougat-Creme', 14.0),
 ('Laughing Lumberjack Lager', 14.0),
 ('Escargots de Bourgogne', 13.25),
 ('Original Frankfurter grüne Soße', 13.0),
 ('Genen Shouyu', 13.0),
 ('Chocolade', 12.75),
 ('Gorgonzola Telino', 12.5),
 ('Scottish Longbreads', 12.5),
 ('Spegesild', 12.0),
 ("Sir Rodney's Scones", 10.0),
 ('Aniseed Syrup', 10.0),
 ('Longlife Tofu', 10.0),
 ("Jack's New England Clam Chowder", 9.65),
 ('Rogede sild', 9.5),
 ('Zaanse koeken', 9.5),
 ('Teatime Chocolate Biscuits', 9.2),
 ('Tunnbröd', 9.0),
 ('Rhönbräu Klosterbier', 7.75),
 ('Tourtière', 7.45),
 ('Filo Mix', 7.0),
 ('Konbu', 6.0),
 ('Guaraná Fantástica', 4.5),
 ('Geitost', 2.5)]

### **<font color='darkblue'>Sample Question5:</font>**
Q5: Write a query to get Product list (id, name, unit price) where current products cost less than $20.

In [ ]:
%%sql

select product_id, product_name, unit_price
from products
where discontinued = 0 and unit_price < 20
order by unit_price DESC;

 * postgresql://postgres:***@localhost/northwind
35 rows affected.

[(57, 'Ravioli Angelo', 19.5),
 (44, 'Gula Malacca', 19.45),
 (36, 'Inlagd Sill', 19.0),
 (40, 'Boston Crab Meat', 18.4),
 (76, 'Lakkalikööri', 18.0),
 (35, 'Steeleye Stout', 18.0),
 (39, 'Chartreuse verte', 18.0),
 (16, 'Pavlova', 17.45),
 (66, 'Louisiana Hot Spiced Okra', 17.0),
 (50, 'Valkoinen suklaa', 16.25),
 (70, 'Outback Lager', 15.0),
 (73, 'Röd Kaviar', 15.0),
 (67, 'Laughing Lumberjack Lager', 14.0),
 (34, 'Sasquatch Ale', 14.0),
 (25, 'NuNuCa Nuß-Nougat-Creme', 14.0),
 (58, 'Escargots de Bourgogne', 13.25),
 (77, 'Original Frankfurter grüne Soße', 13.0),
 (15, 'Genen Shouyu', 13.0),
 (48, 'Chocolade', 12.75),
 (68, 'Scottish Longbreads', 12.5),
 (31, 'Gorgonzola Telino', 12.5),
 (46, 'Spegesild', 12.0),
 (3, 'Aniseed Syrup', 10.0),
 (21, "Sir Rodney's Scones", 10.0),
 (74, 'Longlife Tofu', 10.0),
 (41, "Jack's New England Clam Chowder", 9.65),
 (47, 'Zaanse koeken', 9.5),
 (45, 'Rogede sild', 9.5),
 (19, 'Teatime Chocolate Biscuits', 9.2),
 (23, 'Tunnbröd', 9.0),
 (75, 'Rhönbräu Klosterbier', 7.75),
 (54, 'Tourtière', 7.45),
 (52, 'Filo Mix', 7.0),
 (13, 'Konbu', 6.0),
 (33, 'Geitost', 2.5)]

### **<font color='darkblue'>Sample Question6:</font>**
Q6: Write a query to get Product list (id, name, unit price) where products cost between $15 and $25.

using current products

In [ ]:
%%sql

select product_id, product_name, unit_price
from products
where discontinued = 0 and unit_price <= 25 and unit_price >= 15
order by unit_price DESC;

 * postgresql://postgres:***@localhost/northwind
21 rows affected.

[(6, "Grandma's Boysenberry Spread", 25.0),
 (55, 'Pâté chinois', 24.0),
 (14, 'Tofu', 23.25),
 (4, "Chef Anton's Cajun Seasoning", 22.0),
 (71, 'Flotemysost', 21.5),
 (65, 'Louisiana Fiery Hot Pepper Sauce', 21.05),
 (22, "Gustaf's Knäckebröd", 21.0),
 (11, 'Queso Cabrales', 21.0),
 (49, 'Maxilaku', 20.0),
 (57, 'Ravioli Angelo', 19.5),
 (44, 'Gula Malacca', 19.45),
 (36, 'Inlagd Sill', 19.0),
 (40, 'Boston Crab Meat', 18.4),
 (35, 'Steeleye Stout', 18.0),
 (76, 'Lakkalikööri', 18.0),
 (39, 'Chartreuse verte', 18.0),
 (16, 'Pavlova', 17.45),
 (66, 'Louisiana Hot Spiced Okra', 17.0),
 (50, 'Valkoinen suklaa', 16.25),
 (70, 'Outback Lager', 15.0),
 (73, 'Röd Kaviar', 15.0)]

### **<font color='darkblue'>Sample Question7:</font>**
Q7: Write a query to get Product list (name, unit price) of above average price.

In [ ]:
%%sql

select product_name, unit_price
from products
where unit_price > (select avg(unit_price) from products)
order by unit_price DESC;

 * postgresql://postgres:***@localhost/northwind
25 rows affected.

[('Côte de Blaye', 263.5),
 ('Thüringer Rostbratwurst', 123.79),
 ('Mishi Kobe Niku', 97.0),
 ("Sir Rodney's Marmalade", 81.0),
 ('Carnarvon Tigers', 62.5),
 ('Raclette Courdavault', 55.0),
 ('Manjimup Dried Apples', 53.0),
 ('Tarte au sucre', 49.3),
 ('Ipoh Coffee', 46.0),
 ('Rössle Sauerkraut', 45.6),
 ('Vegie-spread', 43.9),
 ('Schoggi Schokolade', 43.9),
 ('Northwoods Cranberry Sauce', 40.0),
 ('Alice Mutton', 39.0),
 ('Gnocchi di nonna Alice', 38.0),
 ('Queso Manchego La Pastora', 38.0),
 ('Gudbrandsdalsost', 36.0),
 ('Mozzarella di Giovanni', 34.8),
 ('Camembert Pierrot', 34.0),
 ('Wimmers gute Semmelknödel', 33.25),
 ('Perth Pasties', 32.8),
 ('Mascarpone Fabioli', 32.0),
 ('Gumbär Gummibärchen', 31.23),
 ('Ikura', 31.0),
 ("Uncle Bob's Organic Dried Pears", 30.0)]

### **<font color='darkblue'>Sample Question8:</font>**
Q8: Write a query to find how much the best selling products have sold (name, unit price).

Discount is the amount of money that we do not pay for the price of each unit of goods

In [ ]:
%%sql

select product_name, sum((order_details.unit_price-order_details.discount)*order_details.quantity)
from order_details
inner join products on products.product_id = order_details.product_id
group by products.product_id
order by sum DESC;

 * postgresql://postgres:***@localhost/northwind
77 rows affected.

[('Côte de Blaye', 149945.252166748),
 ('Thüringer Rostbratwurst', 87675.3003768921),
 ('Raclette Courdavault', 76194.2497787476),
 ('Camembert Pierrot', 50175.9803371429),
 ('Tarte au sucre', 49774.0499839783),
 ('Gnocchi di nonna Alice', 45051.6497383118),
 ('Manjimup Dried Apples', 44683.9002723694),
 ('Alice Mutton', 35404.3504562378),
 ('Carnarvon Tigers', 31940.1499786377),
 ('Rössle Sauerkraut', 26838.2500267029),
 ('Mozzarella di Giovanni', 25711.149438858),
 ('Ipoh Coffee', 25045.0497589111),
 ('Gudbrandsdalsost', 24240.7498245239),
 ("Sir Rodney's Marmalade", 23621.5600738525),
 ('Wimmers gute Semmelknödel', 22975.3900718689),
 ("Uncle Bob's Organic Dried Pears", 22449.450044632),
 ('Ikura', 22096.6999435425),
 ('Perth Pasties', 21477.9500675201),
 ('Gumbär Gummibärchen', 21475.5497512817),
 ('Flotemysost', 20812.0502490997),
 ('Pâté chinois', 19413.9502677917),
 ('Boston Crab Meat', 18980.8996477127),
 ('Pavlova', 18650.7405414581),
 ('Chang', 18434.79991436),
 ('Vegie-spread', 17669.1499252319),
 ('Lakkalikööri', 16732.9998693466),
 ("Sirop d'érable", 16362.8999023438),
 ('Gorgonzola Telino', 16065.3499984741),
 ('Schoggi Schokolade', 15227.7502822876),
 ('Nord-Ost Matjeshering', 14717.089881897),
 ('Louisiana Fiery Hot Pepper Sauce', 14569.5494728088),
 ('Steeleye Stout', 14481.8998584747),
 ('Inlagd Sill', 14481.3999252319),
 ('Chai', 14192.149895668),
 ('Queso Cabrales', 13850.8997859955),
 ('Northwoods Cranberry Sauce', 13731.7999343872),
 ('Chartreuse verte', 13098.4498748779),
 ('Queso Manchego La Pastora', 12850.6499118805),
 ('Outback Lager', 11415.7999849319),
 ('Gula Malacca', 10488.5002222061),
 ('Original Frankfurter grüne Soße', 9643.59986591339),
 ("Sir Rodney's Scones", 9577.34998464584),
 ('Maxilaku', 9486.30001449585),
 ("Chef Anton's Cajun Seasoning", 9384.85004234314),
 ('Scottish Longbreads', 9305.85001182556),
 ('Singaporean Hokkien Fried Mee', 9277.29998683929),
 ('Mascarpone Fabioli', 9145.94996070862),
 ("Jack's New England Clam Chowder", 9051.94959306717),
 ('Mishi Kobe Niku', 8810.09997558594),
 ('Tofu', 8600.42003631592),
 ('Rhönbräu Klosterbier', 8588.64996480942),
 ('Ravioli Angelo', 7799.55006980896),
 ("Grandma's Boysenberry Spread", 7336.68004989624),
 ("Gustaf's Knäckebröd", 7227.09999084473),
 ('Sasquatch Ale', 6653.34997558594),
 ('Escargots de Bourgogne', 6600.65004634857),
 ('Teatime Chocolate Biscuits', 6125.94992733002),
 ('Spegesild', 6120.54006195068),
 ("Chef Anton's Gumbo Mix", 5776.75),
 ('Konbu', 5188.29999446869),
 ('Tourtière', 5065.94994068146),
 ('Tunnbröd', 4813.69996166229),
 ('Guaraná Fantástica', 4718.89998912811),
 ('Rogede sild', 4696.95006418228),
 ('Zaanse koeken', 4314.29998254776),
 ('Röd Kaviar', 4185.28001022339),
 ('NuNuCa Nuß-Nougat-Creme', 4025.84996032715),
 ('Louisiana Hot Spiced Okra', 3509.00008010864),
 ('Valkoinen suklaa', 3505.25000572205),
 ('Filo Mix', 3361.14999675751),
 ('Aniseed Syrup', 3075.99999427795),
 ('Gravad lax', 3033.39991760254),
 ('Longlife Tofu', 2550.24999809265),
 ('Laughing Lumberjack Lager', 2549.95001888275),
 ('Genen Shouyu', 1811.64998340607),
 ('Geitost', 1685.70000362396),
 ('Chocolade', 1526.70001125336)]

### **<font color='darkblue'>Sample Question9:</font>**
Q9: Write a query to count current and discontinued products.

In [ ]:
%%sql

select discontinued, count(*)
from products
group by discontinued;

 * postgresql://postgres:***@localhost/northwind
2 rows affected.

[(0, 67), (1, 10)]

### **<font color='darkblue'>Sample Question10:</font>**
Q10: Write a query to get Product list (name, units on order , units in stock) of stock is less than the quantity on order.

using current product.

In [ ]:
%%sql

select product_name, units_on_order, units_in_stock
from products
where units_on_order > units_in_stock and discontinued = 0;

 * postgresql://postgres:***@localhost/northwind
13 rows affected.

[('Aniseed Syrup', 70, 13),
 ('Queso Cabrales', 30, 22),
 ("Sir Rodney's Scones", 40, 3),
 ('Gorgonzola Telino', 70, 0),
 ('Mascarpone Fabioli', 40, 9),
 ('Gravad lax', 50, 11),
 ('Rogede sild', 70, 5),
 ('Chocolade', 70, 15),
 ('Maxilaku', 60, 10),
 ('Wimmers gute Semmelknödel', 80, 22),
 ('Louisiana Hot Spiced Okra', 100, 4),
 ('Scottish Longbreads', 10, 6),
 ('Longlife Tofu', 20, 4)]

### **<font color='darkblue'>Sample Question11:</font>**
Q11: Write a query to get Product list (name, unit price) of twenty most expensive products.

In [ ]:
%%sql

select distinct product_name, unit_price
from products
where unit_price in (
  select distinct unit_price
  from products
  order by unit_price DESC
  limit 20
)
order by unit_price DESC;

 * postgresql://postgres:***@localhost/northwind
22 rows affected.

[('Côte de Blaye', 263.5),
 ('Thüringer Rostbratwurst', 123.79),
 ('Mishi Kobe Niku', 97.0),
 ("Sir Rodney's Marmalade", 81.0),
 ('Carnarvon Tigers', 62.5),
 ('Raclette Courdavault', 55.0),
 ('Manjimup Dried Apples', 53.0),
 ('Tarte au sucre', 49.3),
 ('Ipoh Coffee', 46.0),
 ('Rössle Sauerkraut', 45.6),
 ('Schoggi Schokolade', 43.9),
 ('Vegie-spread', 43.9),
 ('Northwoods Cranberry Sauce', 40.0),
 ('Alice Mutton', 39.0),
 ('Gnocchi di nonna Alice', 38.0),
 ('Queso Manchego La Pastora', 38.0),
 ('Gudbrandsdalsost', 36.0),
 ('Mozzarella di Giovanni', 34.8),
 ('Camembert Pierrot', 34.0),
 ('Wimmers gute Semmelknödel', 33.25),
 ('Perth Pasties', 32.8),
 ('Mascarpone Fabioli', 32.0)]

### **<font color='darkblue'>SQL Alchemy:</font>**

In [ ]:
!pip3 install SQLAlchemy

Requirement already satisfied: SQLAlchemy in /usr/local/lib/python3.7/dist-packages (1.4.26)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from SQLAlchemy) (4.8.1)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from SQLAlchemy) (1.1.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->SQLAlchemy) (3.6.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->SQLAlchemy) (3.10.0.2)

In [ ]:
from sqlalchemy import create_engine, inspect

eng = create_engine(connection_string)
ins = inspect(eng)
ins.get_table_names()

['region',
 'shippers',
 'territories',
 'customers',
 'us_states',
 'orders',
 'suppliers',
 'employee_territories',
 'categories',
 'customer_demographics',
 'products',
 'order_details',
 'employees',
 'customer_customer_demo']

In [ ]:
import pandas as pd

df = pd.read_sql('select * from products;', eng)
df.head()

   product_id                  product_name  ...  reorder_level  discontinued
0           1                          Chai  ...             10             1
1           2                         Chang  ...             25             1
2           3                 Aniseed Syrup  ...             25             0
3           4  Chef Anton's Cajun Seasoning  ...              0             0
4           5        Chef Anton's Gumbo Mix  ...              0             1

[5 rows x 10 columns]